<strong> olá</strong>
<p>O
  <strong>{{ provider }}</strong>
  está te convidando para se tornar um membro da família:
  <strong>{{ family }}</strong>
</p>
<p>
  Para entrar nesta familia
  <a href="{{url}}">Clique aqui</a>
</p>
